/*------------------------------
 MOBILE MENU
 ------------------------------*/
.rustrot-menu-clone-wrap {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	background-color: #18443b;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 100000;
	color: #fff;
	-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
	font-size: 20px;
}
.rustrot-menu-clone-wrap .submenu {
	font-size: 16px;
}
.rustrot-menu-clone-wrap.open {
	left: 0;
}
.rustrot-menu-panels-actions-wrap {
	overflow: hidden;
	position: relative;
	padding: 30px 20px;
}
.rustrot-menu-panels-actions-wrap .logo {
	float: left;
	line-height: 40px;
}
.rustrot-menu-panels-actions-wrap .logo img {
	max-height: 40px;
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn {
	width: 28px;
	height: 40px;
	position: relative;
	float: right;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	color: #d3cebf;
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn {
	font-size: 0;
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn::before,
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn::after {
	border-bottom: 3px solid;
	content: "";
	left: 0;
	position: absolute;
	top: 19px;
	width: 30px;
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn::before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-close-btn::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rustrot-menu-panels-actions-wrap .rustrot-menu-current-panel-title {
	display: block;
	text-align: center;
	line-height: 50px;
	padding: 0 50px;
	text-transform: uppercase;
}
.rustrot-menu-panel > ul {
	padding: 0;
	margin: 0;
}
.rustrot-menu-panel li {
	list-style: none;
	position: relative;
}
.rustrot-menu-panel > ul > li {
	padding: 0 20px;
}
.rustrot-menu-panel > ul > li .count {
	position: relative;
	display: inline-block;
	min-width: 20px;
	height: 20px;
	line-height: 21px;
	text-align: center;
	padding: 0 3px;
	border-radius: 50%;
	background-color: #032B2B;
	font-size: 11px;
	color: #ffffff;
	top: -10px;
	margin-left: 3px;
}
.rustrot-menu-panel > ul > li.widget_shopping_cart-wrap {
	display: none;
}
.rustrot-menu-panel li > a > .icon {
	margin-right: 7px;
}
.rustrot-menu-panel li > a > .image {
	z-index: 1;
	line-height: 0;
}
.rustrot-menu-panel .menu-item .rustrot-menu-item-title {
	position: relative;
}
.rustrot-menu-panel > ul > li > a {
	display: inline-block;
	line-height: 50px;
	color: #fff;
}
.rustrot-menu-panel > ul.submenu > li {
	margin-bottom: 7px;
	line-height: 24px;
}
.rustrot-menu-panel > ul.submenu > li > a {
	line-height: 24px;
}
.rustrot-menu-next-panel {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
.rustrot-menu-next-panel:before {
	content: "\f105";
	font-family: 'FontAwesome', sans-serif;
}
.rustrot-menu-clone-wrap .rustrot-menu-prev-panel {
	margin-left: 20px;
	margin-bottom: 15px;
	color: #D3CEBF;
	display: inline-block;
}
.rustrot-menu-clone-wrap .rustrot-menu-prev-panel:hover {
	text-decoration: underline;
}
.rustrot-menu-clone-wrap .rustrot-menu-prev-panel:before {
	content: "\f104";
	font-family: 'FontAwesome', sans-serif;
	padding-right: 8px;
	display: inline-block;
}
.rustrot-menu-clone-wrap .toggle-submenu {
	display: none !important;
}
.rustrot-menu-clone-wrap .rustrot-menu-panels {
	background: inherit;
	border-color: inherit;
	z-index: 0;
	box-sizing: border-box;
	overflow: hidden;
	height: calc(100% - 100px);
	position: relative;
}
.rustrot-menu-clone-wrap .rustrot-menu-panel {
	background-color: #18443b;
}
.rustrot-menu-clone-wrap .rustrot-menu-panel.rustrot-menu-sub-panel {
	border-color: #fff;
	bottom: 0;
	box-sizing: border-box;
	display: block;
	left: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: all 0.2s ease 0s;
	z-index: 0;
}
.rustrot-menu-clone-wrap .rustrot-menu-panel.rustrot-menu-panel-opened {
	transform: translateX(0);
	z-index: 999;
}
.rustrot-menu-clone-wrap .rustrot-menu-sub-opened {
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}
.rustrot-menu-clone-wrap .rustrot-menu-hidden {
	display: block !important;
	opacity: 0;
	visibility: hidden;
}
.rustrot-menu-clone-wrap .submenu.megamenu {
	padding: 5px 20px 20px;
	max-width: 100% !important;
	width: 100% !important;
}
.rustrot-menu-clone-wrap .submenu.megamenu .container {
	max-width: 100%;
	padding: 0;
}
.rustrot-menu li > a > .icon {
	margin-right: 10px;
}
.rustrot-menu-panel-main {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/*========================*/
.rustrot-menu-clone-wrap .az_row {
	padding: 0 0 20px 0 !important;
	margin-left: -15px !important;
	margin-right: -15px !important;;
}
.rustrot-menu-clone-wrap .az_row:last-child {
	padding-bottom: 0 !important;
}
.rustrot-menu-clone-wrap .az_row .az_column-inner {
	padding: 0 15px !important;
}
.rustrot-menu-clone-wrap [class^="col-"],
.rustrot-menu-clone-wrap [class*=" col-"] {
	width: 100% !important;
	float: none;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.rustrot-menu-clone-wrap [class^="col-"]:not(:last-child),
.rustrot-menu-clone-wrap [class*=" col-"]:not(:last-child) {
	padding-bottom: 30px !important;
}